* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
}
/*
1.VỊ TRÍ
2.KÍCH THƯỚC(W,H)
3.MÀU SẮC
4.KIỂU DÁNG(KIỂU CHỮ,HÌNH TRÒN, VUÔNG...)
*/
#main {
}
/* Common */
.clear {
  clear: both;
}
.text-white {
  color: #fff !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-full {
  width: 100%;
}
.col-third {
  width: 33.33333%;
}
.col-second {
  width: 50%;
}
.text-center {
  text-align: center !important;
}

.btn {
  padding: 11px 16px;

  background-color: #333;
  color: #f1f1f1;

  text-decoration: none;
  display: inline-block;

  border: none;
  text-align: center;
}
.btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.pull-right {
  float: right !important;
  margin: 0px;
}
/* Main */
#header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 46px;
  z-index: 1;
  background-color: #000;
}
#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style-type: none;
}
#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
#nav li:hover .subnav {
  display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#slider {
  position: relative;

  margin-top: 46px;
  padding-top: 50%;
  background: url("../img/slider/slider1.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;

  /* Cách 1 */
  /* transform: translateX(-50%);
  left: 50%;
  
  
  /* Cách 2  */
  width: 100%;

  /* Cách 3 */
  /* right: 0;
  left: 0; */

  text-align: center;
  color: #fff;
}
#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 1px #000;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}
#nav .nav-arrow-down {
  font-size: 14px;
}
#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
#header .mobile-menu-btn,
#header .search-btn {
  float: right;
  padding: 0 21px;
}
#header .search-btn:hover {
  background-color: red;
  cursor: pointer;
}
#header .mobile-menu-btn:hover {
  background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon {
  color: #000;
}
#header .menu-icon,
#header .search-icon {
  color: #fff;
  line-height: 46px;
  font-size: 20px;
}
#content {
}

#content .content-section {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 112px;
  padding-left: 16px;
  padding-right: 16px;
}
#content .section-heading {
  text-align: center;
  letter-spacing: 10px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #111;
}
#content .section-sub-heading {
  text-align: center;
  margin-top: 24px;
  opacity: 0.6;
  font-style: italic;
}
#content .about-text {
  text-align: justify;
  margin-top: 10px;
  line-height: 24px;
  font-weight: 200;
  opacity: 0.6;
}
#content .members-list {
  margin-top: 32px;
}
#content .member-item {
  text-align: center;
}
#content .member-name {
}
#content .member-item:hover .member-avt {
  border-color: #f1f1f1;
}
#content .member-avt {
  border: 10px solid transparent;
  margin-bottom: 25px;

  border-radius: 50%;
  width: 70%;
  height: 70%;
  opacity: 0.7;
}

/* tour-section */
.tour-section {
  background-color: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 42px;
  list-style-type: none;
}
.tickets-list > li {
  color: #757575;
  font-size: 15px;
  padding: 11px 12px;
  border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out {
  background-color: #d9534f;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  line-height: 22px;
  border: 1px solid #000;
  text-align: center;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  margin-top: -3px;
}
.places-list {
  margin-top: 16px;
}
.place-item {
  float: left;
  width: 33.33333%;
}
.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}
.place-body {
  background-color: #fff;
  text-align: center;
}

.place-time {
  margin-top: 15px;
  color: #555;
}

/* Contact */
.contact-info {
  font-size: 15px;
  line-height: 1.5;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
}
.contact-form .form-submit-btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 16px;
  float: right;
  outline: #000;
}
/* map */
.map-section img {
  width: 100%;
}
#footer {
  padding: 64px 16px;
  text-align: center;
}
#footer .socials-list {
  font-size: 24px;
}
#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
}
#footer .copyright :hover,
#footer .socials-list a :hover {
  color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
  margin: 15px;
  color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}
